<template>
  <div class="container">
    <form @submit.prevent="convertFile">
      <div class="row">
        <div class="input-field col s12 m4 l4 xl4">
          <input :disabled="sending"
            v-model="table"
            required
            id="tableValue"
            type="text"
            class="validate"
            >
          <label for="tableValue">Tabla</label>
        </div>
        <div class="input-field col s12 m4 l4 xl4">
          <input :disabled="sending"
            v-model="key"
            required
            id="keyValue"
            type="text"
            class="validate"
            >
          <label for="keyValue">Clave</label>
        </div>
        <div class="input-field col s12 m4 l4 xl4">
          <select v-model="country">
            <option :value="1">El Salvador</option>
            <option :value="2">Costa Rica</option>
          </select>
          <label>Seleccione país</label>
        </div>
        <div class="file-field input-field col s12">
          <div class="btn red darken-4">
            <span>File</span>
            <input :disabled="sending" id="fileConvert" required type="file">
          </div>
          <div class="file-path-wrapper">
            <input :disabled="sending" required class="file-path validate" type="text">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 right-align">
          <a
            v-if="result"
            class="waves-effect waves-light btn red darken-4"
            @click.prevent="dwl()">Descargar</a>
          <button
            :disabled="sending"
            class="waves-effect waves-light btn red darken-4">Generar</button>
        </div>
      </div>
    </form>

    <div class="row">
      <div class="col s12">
        <textarea id="txtCP" class="z-depth-2" v-html="result"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col s12 right-align">
        <a
          v-if="result"
          class="waves-effect waves-light btn red darken-4"
          @click.prevent="cp()">Copiar</a>
      </div>
    </div>
  </div>
</template>

<script>
import fileDownload from 'js-file-download';
import 'materialize-css';
import 'materialize-css/dist/css/materialize.min.css';

export default {
  data() {
    return {
      country: 1,
      table: null,
      key: null,
      sending: false,
      result: null,
    };
  },
  mounted() {
    const elems = document.querySelectorAll('select');
    M.FormSelect.init(elems);
  },
  methods: {
    cp() {
      document.getElementById('txtCP').select();
      document.execCommand('copy');
    },
    dwl() {
      fileDownload(this.result, 'insert.txt');
    },
    convertFile() {
      let finalFile = null;
      const file = document.getElementById('fileConvert').files[0];
      const reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onload = () => {
        let toClob = null;
        const f = reader.result.split('base64,');
        finalFile = f[1].match(/.{1,3500}/g);
        finalFile.forEach((el) => {
          toClob = `${toClob ? `${toClob} ` : ''}to_clob('${el}')||`;
        });

        const resp = `UPDATE "${this.table}" SET VALOR = \n${toClob.slice(0, -2)}\nWHERE clave = '${this.key}' AND pais_id = '${this.country}';`;
        this.result = resp;
        window.scrollTo(0, document.body.scrollHeight);
      };
    },
  },
};
</script>

<style lang="stylus" scoped>
button
  margin-left 5px
textarea
  min-height 400px
  width 100%
</style>
